/* line 5, ../sass/base.scss */
body p {
  color: #efefef;
}

/* line 8, ../sass/base.scss */
.row-fluid {
  width: 100%;
}
/* line 10, ../sass/base.scss */
.row-fluid .span6 {
  float: left;
  width: 45%;
  margin-right: 2%;
}

/* line 22, ../sass/base.scss */
.form-line.ribana {
  display: none;
}

/* line 24, ../sass/base.scss */
#canvas {
  position: relative;
  width: 500px;
  height: 511px;
  background-color: #efefef;
}
/* line 30, ../sass/base.scss */
#canvas .malhas {
  position: absolute;
  top: 50px;
  left: 50px;
}
/* line 36, ../sass/base.scss */
#canvas .golas {
  position: absolute;
  top: 50px;
  left: 49px;
  overflow: hidden;
  height: 100px;
}
/* line 43, ../sass/base.scss */
#canvas .golas img {
  width: 89%;
}
/* line 46, ../sass/base.scss */
#canvas .punhos {
  position: absolute;
  top: 150px;
  left: 49px;
  overflow: hidden;
  height: 130px;
}
/* line 53, ../sass/base.scss */
#canvas .punhos img {
  width: 89%;
  margin-top: -100px;
}
