//@import 'atributos', 'mixins';

body {
	//background: black;
	p {color: #efefef;}
}

.row-fluid {
	width: 100%;
	.span6 {
		float: left;
		width: 45%;
		margin-right: 2%;
	}

	.overflow {
		//height: 511px;
		//overflow-x: scroll;
	}
}

.form-line.ribana {display: none;}

#canvas {
	position: relative;
	width: 500px;
	height: 511px;
	background-color: #efefef;
	
	.malhas {
		position: absolute;		
		top: 50px;
		left: 50px;
	}
	
	.golas {
		position: absolute;		
		top: 50px;
		left: 49px;

		img {width: 89%;}
	}
	
	.punhos {
		position: absolute;		
		top: 135px;
		left: 5px;
	}
}