//@import 'atributos', 'mixins';

body {
	//background: black;
	p {color: #efefef;}
}

.row-fluid {
	width: 100%;
	.span6 {
		float: left;
		width: 45%;
		margin-right: 2%;
	}

	.overflow {
		//height: 511px;
		//overflow-x: scroll;
	}
}

.form-line.ribana {display: none;}

* input {width: 237px;}

* select {width: 250px;}

#canvas {
	position: relative;
	width: 500px;
	height: 511px;
	background-color: #efefef;
	
	.malhas {
		position: absolute;		
		top: 50px;
		left: 50px;

		img { width: 400px;}
	}
	
	.golas {
		position: absolute;		
		top: 50px;
		left: 49px;
		overflow: hidden;
		height: 100px;

		img {width: 89%;}
	}
	
	.punhos {
		position: absolute;		
		top: 150px;
		left: 49px;
		overflow: hidden;
		height: 130px;

		img {
			width: 89%;
			margin-top: -100px;
		}

		&.tshirt img {
			margin-top: -124px;
		}
	}
}

.btn {
	display: inline-block;
	padding: 2px 4px;
	border: 5px;
	background-color: #cccccc;
	color: #222222;
	text-decoration: none;

	&.active {background-color: #777777; color: #ffffff;}
}